/* 
* Current Organization Scheme:
* The stylesheet is organized from most shared style elements to the least.
* Least being the most specific (on 1 file)
* HTML tag -> Classes -> IDs -> (then same schem for specific file contents)...
*/

body 
{
    background-color: #707070;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

input[type="text"], input[type="password"]
{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover
{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

.addContactFields
{
    border-radius: 25px;;
    width: 20%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#landingPageTitle 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

/* ------------------------------------------------------------------------- */
/* ID's specific to index.html */
#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loginText
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userLogin
{
	font-size: 30px;
}

#userPassword
{
	font-size: 30px;
}

#loginButton
{
    font-size: 20px;
}

#loginResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* ------------------------------------------------------------------------- */
/* ID's specific to tether.html */
#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton
{
    width: 20%;
    margin-left: 40%;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#searchText
{
	font-size: 30px;
}

#searchContactButton
{
	font-size: 20px;
}

#contactSearchResult
{
    display: none;
}

#addContactButton
{
	font-size: 20px;
}

#contactAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
